/* colors */


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  color: inherit;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #000;
}

h1 {
  font-size: 44px;
}

a {
  color: #7099ED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bes-header {
  background-color: #24316C;
  padding: 20px 40px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.bes-header h1 {
  color: #fff;
  font-weight: 300;
}

.bes-header h1 b {
  font-weight: 400;
}

.bes-header-nav {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0;
  box-sizing: border-box;
}

.bes-header-nav li {
  list-style: none;
  display: flex;
  position: relative;
  top: 3px;
}

.bes-header-nav li a {
  padding: 15px 40px;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.bes-header-search {
  position: absolute;
  top: 30px;
  right: 30px;
}

.bes-header-nav li a:hover {
  text-decoration: none;
  border-color:#fff;
}

.bes-body-columns {
  display: flex;
  flex-direction: row;
}

.bes-doc-nav-wrap {
  flex: 0 1 340px;
  background-color: #F0F0F3;
  padding: 60px 45px;
}

.bes-doc-nav__list {
  display: none;
  padding-left: 15px;
}

.bes-doc-nav__list--active {
  display: block;
  
}

.bes-doc-nav__list li {
  list-style: none;
}

.bes-doc-nav__list.current {
  background: red;
}

.bes-content-wrap {
  border: 1px solid red;
  flex-grow: 1;
  padding: 60px 100px;
}

.bes-content {
  max-width: 900px;
  margin: 0px auto;
}

.bes-search-form input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color:rgba(255, 255, 255, 0.15);
  padding: 10px;
  color: #fff;
  font-size: 16px;
}