/* One-off rules for layouts */

.bes-content > .blue-well {
  margin-top: -20px;
  background-color: #2F4CB3;
}

/* TODO: Check if this is needed */
.logo-row-4-4 {
  padding: 30px 100px;
  background-color: #F1F3F9;
}

.logo-row-4-4 em {
  flex-shrink: 1;
  margin: 0 10px;
}

.logo-row-4-4 em img {
  max-width: 100%;
}

.logo-row-4-4 p {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.caption-example-5-8 {
  margin-top: -30px;
  padding: 0 30px 30px;
  text-align: center;
}

.caption-example-5-8 em {
  color: #494949;
}

.method-list-3-2 {
  border: 1px solid blue;
}

.colors-4-8 em:last-child {
  margin-top: 40px;
}

.common-colors-4-8 em:last-child {
  margin-left: 100px;
}

.layouts-6-2 {
  display: flex;
  flex-wrap: wrap;
}

.layouts-6-2 a {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
}

.layouts-6-2 a::after {
  content: attr(title);
  margin-top: 20px;
}

.layouts-6-2 img {
  border: 2px solid transparent;
}

.layouts-6-2 a:hover {
  text-decoration: none;
}

.layouts-6-2 a:hover img {
  border-color: #2F4CB3;
}

.bes-content > .layouts-6-2 > em {
  flex-basis: 50%;
  margin: 0 0 60px;
  padding: 0 10px;
}

@media screen and (max-width: 800px) {
  .logo-row-4-4 {
    padding: 20px;
  }
  .logo-row-4-4 p {
    flex-wrap: wrap;
  }

  .common-colors-4-8 em:last-child {
    margin-left: 10px;
  }

  .bes-content > .layouts-6-2 > em {
    flex-basis: 100%;
  }
}