/* One-off rules for layouts */

.bes-content > .blue-well-4-9 {
  margin-top: -40px;
  background-color: #2F4CB3;
}

/* TODO: Check if this is needed */
.logo-row-4-4 {
  margin-top: 40px;
  padding: 30px 100px;
  background-color: #F1F3F9;
}

.logo-row-4-4 em {
  flex-shrink: 1;
  margin: 0 10px;
}

.logo-row-4-4 em img {
  max-width: 100%;
}

.logo-row-4-4 p {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.caption-example-5-8 {
  margin-top: -30px;
  padding: 0 30px 30px;
  text-align: center;
}

.caption-example-5-8 em {
  color: #494949;
}

.colors-4-8 em:last-child {
  margin-top: 40px;
}

.common-colors-4-8 em:last-child {
  margin-left: 100px;
  margin-top: 50px;
}

.layouts-6-2 {
  display: flex;
  flex-wrap: wrap;
}

.layouts-6-2 a {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
}

.layouts-6-2 a::after {
  content: attr(title);
  margin-top: 20px;
}

.layouts-6-2 img {
  border: 2px solid transparent;
}

.layouts-6-2 a:hover {
  text-decoration: none;
}

.layouts-6-2 a:hover img {
  border-color: #2F4CB3;
}

.bes-content > .layouts-6-2 > em {
  flex-basis: 50%;
  margin: 0 0 60px;
  padding: 0 10px;
}

.type-4-7 em {
  padding-top: 60px;
}

.type-4-7 em:first-of-type {
 padding-right: 60px;
 margin-right: 60px;
 border-right: 1px solid #B8B5B5;
}

.nav-5-2 {
  margin-top: 60px;
}

/* TODO check mobile */
.bes-content > .columns-5-9 {
  display: block;
  columns: 2;
}

.bes-content > .columns-5-9 em {
  margin-bottom: 40px;
}


@media screen and (max-width: 800px) {
  .logo-row-4-4 {
    padding: 20px;
  }
  .logo-row-4-4 p {
    flex-wrap: wrap;
  }

  .common-colors-4-8 em:last-child {
    margin-top: 20px;
    margin-left: 20px;
  }

  .bes-content > .layouts-6-2 > em {
    flex-basis: 100%;
  }

  .type-4-7 {
    flex-direction: column;
    align-items: center;
  }

  .type-4-7 em:first-of-type {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
   }
   
}