
.bes-doc-nav-wrap {
  z-index: 10; /* above content */
  min-width: 280px;
  max-width: 340px;
  padding: 60px 45px;
  background-color: #F0F0F3;
}

.bes-doc-nav__list {
  display: none;
  margin: 0;
  padding-left: 0;
  font-size: 15px;
}

.bes-doc-nav__list--active {
  display: block;
  
}

.bes-doc-nav__list li {
  margin-bottom: 10px;
  list-style: none;
}

.bes-doc-nav__list li ul {
  margin-top: 10px;
  padding-left: 15px;
}

.bes-doc-nav__list a:hover,
.bes-doc-nav__list a.current {
  color: #2F4CB3;
  font-weight: 500;
  text-decoration: none;
}


/*
  In order to get subsections to display the proper nav, and highlight the section
  it is under there needs to be some trickery. We cant directly add the subsections
  under sections with a homepage (3.3 in example below) because of the data structure
  of MkDocs.

  Subsections are placed before the main section in the yaml file like:
  - 3.3 subpages:
    - Interviews: ux/3-3-2-1-interviews.md
    ...
  - "3.3 Phase 1: Research & Discovery": ux/3-3-research.md

  The title (3.3 subpages) is irrelevent and will not be displayed, though it needs to
  be unique.
  
  When the navigation is being built, a list item will be rendered for the subpages,
  and will be hidden with css. Then the next sibling selector is used to highlight
  the proper active section.
 */
.bes-doc-nav__list .subsection {
  display: none;
}

.bes-doc-nav__list .subsection.current + li a {
  color: #2F4CB3;
  font-weight: 500;
}

.bes-playbook-mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  background-color: #24316C;
}

.bes-playbook-mobile-nav li {
  display: flex;
  list-style: none;
}

.bes-playbook-mobile-nav li.active a,
.bes-playbook-mobile-nav li a:hover {
  border-right: 4px solid #fff;
  text-decoration: none;
}

.bes-playbook-mobile-nav li a {
  flex-grow: 1;
  padding: 15px;
  border-right: 4px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

#bes-nav-toggle {
  display: none;
}

.bes-nav-toggle__label {
  display: none;
  position: fixed;
  z-index: 90; /* above header */
  top: 15px;
  left: 15px;
  width: 0;
  height: 0;
}

.bes-nav-toggle__hamburger {
  display: block;
  width: 25px;
  height: 25px;
  background: url('./img/hamburger.svg') no-repeat; 
}

.bes-nav-toggle__x {
  display: none;
  width: 25px;
  height: 25px;
  background: url('./img/x.svg') no-repeat; 
}


@media screen and (max-width: 1200px) {
  .bes-playbook-mobile-nav {
    display: none;
  }

  .bes-nav-toggle__label {
    display: block;
  }

  .bes-doc-nav-wrap {
    display: flex;
    max-width: 500px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .bes-doc-nav {
    padding-top: 30px;
    padding-left: 30px;
  }

  #bes-nav-toggle:checked + label .bes-nav-toggle__hamburger {
    display: none;
  }
  
  #bes-nav-toggle:checked + label .bes-nav-toggle__x {
    display: block;
  }
  
  #bes-nav-toggle:checked + label + .bes-doc-nav-wrap .bes-playbook-mobile-nav {
    display: flex;
  }
    
}

@media screen and (max-width: 1024px) {

  #bes-nav-toggle:checked + label .bes-nav-toggle__hamburger {
   display: none;
  }
  
  #bes-nav-toggle:checked + label .bes-nav-toggle__x {
    display: block;
  }
  
  #bes-nav-toggle:checked + label + .bes-doc-nav-wrap {
    display: flex;
  }
   

  .bes-doc-nav-wrap {
    display: none;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
    padding: 0;
  }
  
  .bes-doc-nav {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }

  .bes-playbook-mobile-nav {
    right: 0;
  }
}
