footer {
  display: flex;
  padding: 35px 30px;
  background-color: #24316C;
  color: #fff;
}

.bes-footer__link-group {
  flex: 0 0;
  padding: 0 30px;
}

.bes-footer__link-group h4 {
  color: #fff;
}

.bes-footer__link-group ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.bes-footer__link-group li {
  margin-bottom: 10px;
  list-style: none;
  white-space: nowrap;
}

.bes-footer__link-group a {
  color: #fff;
}


@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding: 20px;
  }

  .bes-footer__link-group li {
    white-space: normal;
  }
}