footer {
  background-color: #24316C;
  padding: 35px 30px;
  color: #fff;
  display: flex;
}

.bes-footer__link-group {
  flex: 0 0;
  padding: 0 30px;
}

.bes-footer__link-group h4 {
  color: #fff;
}

.bes-footer__link-group ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bes-footer__link-group li {
  list-style: none;
  margin-bottom: 10px;
  white-space: nowrap;
}

.bes-footer__link-group a {
  color: #fff;
}