
.bes-header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  padding: 20px 40px 20px 120px;
  background-color: #24316C;
}

.bes-header__logo {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 70px;
  height: 61px;
  background: url('./img/logo.svg') no-repeat;
  background-size: contain;
}

.bes-header h1 {
  margin: 0;
  color: #fff;
  font-weight: 300;
}

.bes-header h1 b {
  font-weight: 400;
}

.bes-header-nav {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.bes-header-nav li {
  display: flex;
  position: relative;
  top: 3px;
  align-items: flex-end;
  list-style: none;
}

.bes-header-nav li a {
  display: block;
  width: 190px;
  padding: 5px 15px;
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 14px;
}

.bes-header-search {
  position: absolute;
  top: 30px;
  right: 30px;
}

.bes-header-nav li a:hover {
  border-color:#fff;
  text-decoration: none;
}

.bes-search-form input {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color:rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .bes-header-nav,
  .bes-search-form { display: none; }
 
  .bes-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0;
  }

  .bes-header h1 {
    margin-left: 20px;
    font-size: 30px;
  }

  .bes-header__logo {
    position: initial;
    width: 35px;
    height: 30px;
  }
}

@media screen and (max-width: 800px) {

}