
.bes-content > p img {
  max-width: 100%;
}

/*
 
 */
.bes-content > blockquote {
  margin: 0 20px;
  background-color: #F2F2F2;
}

.bes-content > blockquote img {
  max-width: 100%;
}

.bes-content > blockquote > p {
  margin-right: 20px;
  margin-left: 80px;
}


.bes-content .center {
  display: flex;
  justify-content: center;
}

.bes-content .padded {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bes-content > .space-between {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  margin-left: 90px;
}

.bes-content > .float {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* 100px - item margin */
  margin-right: 90px;
  margin-left: 90px;
}


.bes-content > .well {
  display: flex;
  position: relative;
  padding: 30px;
  background-color: #F2F2F2;
}


.bes-content > .space-between > em,
.bes-content > .padded > em,
.bes-content > .well > em,
.bes-content > .float > em {
  margin: 0 10px;
}

/* Extend the full column widths */
.bes-content > .wide {
  max-width: 1040px;
  margin-right: 20px;
  margin-left: 20px;
}

.bes-content > .wide > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}


.bes-content > .wide.well,
.bes-content > .wide.well.float
.bes-content > .wide.well.space-between,
.bes-content > .wide.well.padded
{
  padding-right: 60px;
  padding-left: 70px;
}


/* Align with content left, but stretch full width to right */
.bes-content > .extended {
  max-width: 1000px;
}

@media screen and (max-width: 1200px) {
  .bes-content > .space-between,
  .bes-content > .float {
    margin-left: 40px;
    marign-right: 40px;
  }


  .bes-content > .wide.well,
  .bes-content > .wide.well.float
  .bes-content > .wide.well.space-between,
  .bes-content > .wide.well.padded
  {
    padding-right: 20px;
    padding-left: 20px;
  }

}