
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  color: #323A45;
  font-weight: 300;
}


.bes-body-columns {
  display: flex;
  flex-direction: row;
}


.bes-content-wrap {
  flex-grow: 1;
}

.bes-content {
  margin: 0px auto;
}

.bes-content p,
.bes-content p,
.bes-content h1,
.bes-content h2,
.bes-content h3,
.bes-content h4,
.bes-content h5,
.bes-content h6,
.bes-content ul
{
  max-width: 900px;
  margin-left: 100px;
  margin-right: 100px;
}
