
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  color: #323A45;
  font-weight: 300;
}


.bes-body-columns {
  display: flex;
  flex-direction: row;
}


.bes-content-wrap {
  flex-grow: 1;
  padding: 60px 100px;
}

.bes-content {
  max-width: 900px;
  margin: 0px auto;
}

