
* { box-sizing: border-box; }

body {
  margin: 0;
  color: #1A0C28;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.bes-body-columns {
  display: flex;
  z-index: 1;
  flex-direction: row;
}

.bes-content-wrap {
  flex: 1 1;
}

.bes-content {
  margin: 0 auto;
  padding-bottom: 50px;
}

.bes-content > p,
.bes-content > h1,
.bes-content > h2,
.bes-content > h3,
.bes-content > h4,
.bes-content > h5,
.bes-content > h6,
.bes-content > ul,
.bes-content > ol,
.bes-content > hr,
.bes-content > .quote
{
  max-width: 800px;
  margin-right: 100px;
  margin-left: 100px;
}

.bes-content > h2 {
  margin-top: 60px;
}

.bes-content > h3 {
  margin-top: 40px;
}

.bes-content > h4 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.bes-content > h4 + p {
  margin-top: 0;
}


.bes-content > hr {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Back link */
.bes-content > p:first-child > a:only-child {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 14px;
}

.bes-content > p:first-child > a:only-child::before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 14px;
  margin-right: 10px;
  background: url(./img/back.svg) no-repeat;
}




/* Content Header
 * Styling for main h1 on a content page. Applies a blue background.
 * Images are added via JS
 *
 * Markdown:
 * > # **1.2** Audience
 */
.bes-content > blockquote:first-child {
  display: flex;
  align-items: center;
  min-height: 180px;
  margin: 0;
  margin-bottom: 50px;
  background-color: #24316C;
  background-size: cover;
  color: #fff;
  font-weight: 300;
}

.bes-content > blockquote:first-child  h1 {
  flex: 1 0;
  max-width: 800px;
  margin-right: 100px;
  margin-left: 100px;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  line-height: 1em;
}

.bes-content > blockquote:first-child  strong {
  font-size: 30px;
  font-weight: 500;
}

.bes-content > .quote {
  margin-top: 20px;
  padding-left: 60px;
  background: url('./img/3.3.3.2_quote@2x.png') no-repeat;
  background-position: 15px 15px;
  background-size: 41px 32px;
  font-style: italic;
}


#reference + ul li,
#references + ul li,
#resource + ul li,
#resources + ul li {
  padding-left: 0;
  background: none;
}

#reference + ul a,
#references + ul a,
#resource + ul a,
#resources + ul a {
  display: block;
}


@media screen and (max-width: 1200px) {
  /* Account for fixed header */
  .bes-content-wrap {
    margin-top: 60px;
  }

  .bes-content > p,
  .bes-content > h1,
  .bes-content > h2,
  .bes-content > h3,
  .bes-content > h4,
  .bes-content > h5,
  .bes-content > h6,
  .bes-content > ul,
  .bes-content > ol,
  .bes-content > hr,
  .bes-content > .quote
  {
    margin-right: 50px;
    margin-left: 50px;
  }

  .bes-content > blockquote:first-child {
    height: auto;
  }

  .bes-content > blockquote:first-child  h1 {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 800px) {

  .bes-content-wrap {
    margin-top: 80px;
  }

  .bes-content > blockquote:first-child  h1 {
    font-size: 40px;
  }

  .bes-content > blockquote:first-child  strong {
    font-size: 28px;
  }

  .bes-content > p,
  .bes-content > h1,
  .bes-content > h2,
  .bes-content > h3,
  .bes-content > h4,
  .bes-content > h5,
  .bes-content > h6,
  .bes-content > ul,
  .bes-content > ol,
  .bes-content > hr,
  .bes-content > .quote
  {
    margin-right: 25px;
    margin-left: 25px;
  }

  .bes-content > blockquote:first-child  h1 {
    margin-right: 25px;
    margin-left: 25px;
  }

  #reference + ul,
  #references + ul,
  #resource + ul,
  #resources + ul {
    max-width: 100vw;
    margin: 0;
    padding: 25px;
  }

  #reference + ul a,
  #references + ul a,
  #resource + ul a,
  #resources + ul a {
    word-wrap: break-word;
  }

  .bes-content > .mobile-only {
    display: flex;
  }

  .bes-content-wrap .bes-content > .desktop-only { display: none; }
}

@media screen and (min-width: 800px) {
  .bes-content-wrap .bes-content > .mobile-only { display: none; }
}